.background {
	z-index: -99 !important;
}

#bg-bluedither {
	image-rendering: pixelated;
	background-image: url('/assets/images/decor/bluedither.png');
	background-size: contain;
	height: 100%;
}

#bg-grass {
	position: absolute;
	width: 100%;
	height: 50%;
	background-image: url('/assets/images/decor/grass_cii.png');
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: auto 30vh;
	bottom: 0;
}
