@import "sidebar";
@import "statuscafe";
@import "fonts";
@import "mobile";
@import "background";

html {
	background-color: #2196F3;
}

html, body {
	color: black;
	text-align: center;
	margin: 1px;
	cursor: url("/cursor.png"),auto;
}

h1 {
	margin: 1px;
	padding: 8px;
	background-color: blue;
}

img {
	width: auto;
	height: auto;
	margin: 2px;
}

.overlay, .background {
	pointer-events: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.overlay {
	z-index: 1000001;
}

.inline {
	height: 1em;
}

#flood {
	z-index: -1 !important;
}

#flood-menu {
	z-index: 9999999999 !important;
}

#blinkerscroll {
	position: absolute;
	left: 0;
	bottom: 3vh;
	z-index: -2
}

.blinkers {
	max-height: 7vh;
	min-height: 32px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
