.columns {
  max-width: 80%;
  display: flex;
  margin-top: 5px; margin-bottom: 0px;
  margin-left: auto; margin-right: auto;
  justify-content: space-around;
  border: 1px solid black;
}

.left-sidebar {
  background: darkgray;
  padding: 10px;
  overflow-y: scroll;
  flex: 0 60px;
  position: sticky;
}

.main-content {
  width: 60%;
  flex: 5;
  margin: 10px;
  border: 1px solid black;
}

.right-sidebar {
  background: darkgray;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: sticky;
}
