---
layout: default
navbar: "comicnav"
---
<div id="webring-disp">
	<div id='webcomicwebring'>
	<script type="text/javascript" src="https://webcomicring.org/js/comicring-variables.js"></script>
	<script type="text/javascript" src="https://webcomicring.org/js/comicring-widget.js"></script></div>

	<script src="https://gusbus.space/smallweb-subway.js/doodlecrew.js"></script>
	<smallweb-subway-doodlecrew></smallweb-subway-doodlecrew>

	<script src="https://gusbus.space/smallweb-subway.js/comics.js"></script>
<smallweb-subway-comics></smallweb-subway-comics>
</div>

<h1>{{ page.title }}</h1>
<h3>{{ page.name }}</h3>

<img src="/assets/images/{{ page.image }}" width=70%><br>
<p>{{content}}</p>

<script defer type="text/javascript">
	document.querySelector('#current').scrollIntoView()
</script>
