---
navbar: topnav
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
	</head>
	<body>
		<img src="/assets/images/crt1.png" class="overlay">
		{% if page.neko == "true" %}
			{% include neko.html %}
		{% endif %}
		<script data-goatcounter="https://slimepondcount.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
		{% include cursortrail.html %}

		<div class="vcol">
			<div class="columns">
				<div class="left-sidebar">
					{% if layout.navbar != "" %}
						{% include {{layout.navbar}}.html %}
					{% endif %}
				</div>
				<div class="main-content">{{ content }}</div>
				<div class="right-sidebar">
					<img src="https://slimepondcount.goatcounter.com/counter/{{ page.url }}.png" style="width: 100%">
					<iframe src="https://www3.cbox.ws/box/?boxid=3539632&boxtag=JU8HaS" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="5" marginwidth="5" scrolling="auto"></iframe>

					{% for blink in site.data.blinkers %}
						<img src="/assets/images/blinkers/{{ blink.name }}"
						style="max-width:100%"></img>
					{% endfor %}
					
					{% include swatchclock.html %}
					{% include statuscafe.html %}
				</div>
			</div>
		</div>

	<link href="https://melonking.net/styles/flood.css" rel="stylesheet" type="text/css" media="all" />
	<script src="https://melonking.net/scripts/flood.js"></script>
            
	</body>
</html>
